<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <!--<![endif]-->

<!DOCTYPE html>
<html class="no-js" lang="en">
   <head>

      <!--- basic page needs
      ================================================== -->
      <meta charset="utf-8">
   	<title>DeepMasque</title>
   	<meta name="description" content="">  
   	<meta name="author" content="">

      <!-- mobile specific metas
      ================================================== -->
   	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    	<!-- CSS
      ================================================== -->
      <link rel="stylesheet" href="../static/css/base.css">
      <link rel="stylesheet" href="../static/css/vendor.css">  
      <link rel="stylesheet" href="../static/css/main.css">  

      <!-- script
      ================================================== -->
   	<script src="../static/js/modernizr.js"></script>
   	<script src="../static/js/pace.min.js"></script>

      <!-- favicons
   	================================================== -->
   	<link rel="shortcut icon" href="../static/masque.png" type="image/x-icon">
   	<link rel="icon" href="../static/masque.png" type="image/x-icon">

   </head>
</html>